
/* 
    Created on : Sep 23, 2016, 10:41:30 AM
    Author     : Vinoth Sudarsanam
*/

.no-padding{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}

.padding-left-0{
    padding-left: 0px
}
.padding-right-0{
    padding-right: 0px
}
.padding-left-5{
    padding-left: 5px
}
.padding-right-5{
    padding-right: 5px
}
.padding-top-5{
    padding-top: 5px
}
.padding-bottom-5{
    padding-bottom: 5px
}

.padding-left-10{
    padding-left: 10px
}
.padding-right-10{
    padding-right: 10px
}
.padding-top-10{
    padding-top: 10px
}
.padding-bottom-10{
    padding-bottom: 10px
}

.padding-left-15{
    padding-left: 15px
}
.padding-right-15{
    padding-right: 15px
}
.padding-top-15{
    padding-top: 15px
}
.padding-bottom-15{
    padding-bottom: 15px
}

.padding-left-20{
    padding-left: 20px
}
.padding-right-20{
    padding-right: 20px
}
.padding-top-20{
    padding-top: 20px;
    float: left;    
}
.padding-bottom-20{
    padding-bottom: 20px;
    float: left;
}
.padding-top-40{
    padding-top: 40px
}
/*Margin Styles Start*/

.margin-0{
    margin: 0px;
}
.margin_top_bottom{
    margin: 30px 0;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-right-15{
    margin-right: 15px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-bottom-15{
    width: 100%;
    float: left;
    margin-bottom: 15px;  
}
.margin-bottom-30{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.margin_top_60{
     margin-top: 60px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-40{
    margin-top: 40px;
}


.language-set{
    width:100%;
    float:left;
}
.language-nav > li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding:10px 10px;
}
.language-set ul, ol {
    margin-top: 0;
    margin-bottom: -1px;
    text-align: center;
    width: 100%;
    padding: 0;
    float:left;
}
.nav-bar {
    position:absolute;
    bottom:0;
}

.nav-bar > li.active > a,
.nav-bar > li.active > a:focus,
.nav-bar > li.active > a:hover {
    border-width: 0;
}

.nav-bar > li > a {
    border: none;
    color: #dcdada;
}
.nav-bar > li.active > a, .nav-bar > li.active > a:hover, .nav-bar > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color:none !important;
    border:none;
    border-bottom-color: transparent;
}
.nav-bar > li.active > a,
.nav-bar > li > a:hover {
    border: none;
    color: #fff !important;
    background: transparent;
    font-weight:500;
}

.nav-bar > li > a::after {
    content: "";
    background: #e54f03;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -2px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-bar > li.active > a::after,
.nav-bar > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

/*explore nav style start*/

.explore-icon-menu {
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center; 
    color: #333333;
    font-size:16px;
}
.explore-icon-menu ul.list-inline{
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.explore-icon-menu ul li a span{
    width:100%;
    float:left;
    font-size:32px;
    padding-bottom: 15px;
}
.explore-icon-menu ul li a span:last-child{
    width:100%;
    font-size:16px;
    text-align:center;
}
.explore-icon-menu ul {
    margin-bottom: 0;
}
.explore-icon-menu a { 
    text-transform: uppercase;
}
.explore-icon-menu a:hover {
    text-decoration: none;
    opacity: 1;
    color:#e54f03;
}
.explore-icon-menu ul li.active{
    color:#e54f03;
}
/*explore nav style end*/


/********************************/
/*         Banner slider    */
/********************************/

#first-slider .main-container {
  padding: 0;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height:500px; 
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
    background-image: url(../images/home-page-banner.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
  background-image: url(../images/home-page-banner2.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}

.dropdown-menu>li>a {
    color:#a8a8a8;
}
.dropdown-option ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-left: -110px;
    border:solid 1px #ebebeb;
}
.dropdown-option ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown-option ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ebebeb;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.dropdown-option .dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}


@media (min-width:768px) and (max-width: 1020px){ 
/*explore the site section start*/
.explore-title {
    font-size: 20px;
    padding: 50px 0;
}
.explore-icon-menu ul li a span:last-child {
    font-size: 15px;
}
.explore-icon-menu ul li a span {
    font-size: 24px;
     padding-bottom: 5px;
}
/*explore the site section end*/
}