    /*
    Flaticon icon font: Flaticon
    Creation date: 02/11/2016 08:31
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add-circular-button:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-arrows-2:before { content: "\f103"; }
.flaticon-back:before { content: "\f104"; }
.flaticon-circle:before { content: "\f105"; }
.flaticon-down-chevron:before { content: "\f106"; }
.flaticon-edit:before { content: "\f107"; }
.flaticon-exclamation:before { content: "\f108"; }
.flaticon-film-strip:before { content: "\f109"; }
.flaticon-gallery:before { content: "\f10a"; }
.flaticon-global:before { content: "\f10b"; }
.flaticon-headphones:before { content: "\f10c"; }
.flaticon-heart:before { content: "\f10d"; }
.flaticon-home:before { content: "\f10e"; }
.flaticon-interface:before { content: "\f10f"; }
.flaticon-interface-1:before { content: "\f110"; }
.flaticon-interface-2:before { content: "\f111"; }
.flaticon-interface-3:before { content: "\f112"; }
.flaticon-lock:before { content: "\f113"; }
.flaticon-magnifying-glass:before { content: "\f114"; }
.flaticon-mark:before { content: "\f115"; }
.flaticon-megaphone:before { content: "\f116"; }
.flaticon-menu:before { content: "\f117"; }
.flaticon-more:before { content: "\f118"; }
.flaticon-multimedia:before { content: "\f119"; }
.flaticon-multimedia-1:before { content: "\f11a"; }
.flaticon-music:before { content: "\f11b"; }
.flaticon-music-1:before { content: "\f11c"; }
.flaticon-music-2:before { content: "\f11d"; }
.flaticon-music-3:before { content: "\f11e"; }
.flaticon-next:before { content: "\f11f"; }
.flaticon-pause:before { content: "\f120"; }
.flaticon-play-button:before { content: "\f121"; }
.flaticon-present:before { content: "\f122"; }
.flaticon-search:before { content: "\f123"; }
.flaticon-settings:before { content: "\f124"; }
.flaticon-shapes:before { content: "\f125"; }
.flaticon-technology:before { content: "\f126"; }
.flaticon-thin-expand-arrows:before { content: "\f127"; }
    
    $font-Flaticon-add-circular-button: "\f100";
    $font-Flaticon-arrows: "\f101";
    $font-Flaticon-arrows-1: "\f102";
    $font-Flaticon-arrows-2: "\f103";
    $font-Flaticon-back: "\f104";
    $font-Flaticon-circle: "\f105";
    $font-Flaticon-down-chevron: "\f106";
    $font-Flaticon-edit: "\f107";
    $font-Flaticon-exclamation: "\f108";
    $font-Flaticon-film-strip: "\f109";
    $font-Flaticon-gallery: "\f10a";
    $font-Flaticon-global: "\f10b";
    $font-Flaticon-headphones: "\f10c";
    $font-Flaticon-heart: "\f10d";
    $font-Flaticon-home: "\f10e";
    $font-Flaticon-interface: "\f10f";
    $font-Flaticon-interface-1: "\f110";
    $font-Flaticon-interface-2: "\f111";
    $font-Flaticon-interface-3: "\f112";
    $font-Flaticon-lock: "\f113";
    $font-Flaticon-magnifying-glass: "\f114";
    $font-Flaticon-mark: "\f115";
    $font-Flaticon-megaphone: "\f116";
    $font-Flaticon-menu: "\f117";
    $font-Flaticon-more: "\f118";
    $font-Flaticon-multimedia: "\f119";
    $font-Flaticon-multimedia-1: "\f11a";
    $font-Flaticon-music: "\f11b";
    $font-Flaticon-music-1: "\f11c";
    $font-Flaticon-music-2: "\f11d";
    $font-Flaticon-music-3: "\f11e";
    $font-Flaticon-next: "\f11f";
    $font-Flaticon-pause: "\f120";
    $font-Flaticon-play-button: "\f121";
    $font-Flaticon-present: "\f122";
    $font-Flaticon-search: "\f123";
    $font-Flaticon-settings: "\f124";
    $font-Flaticon-shapes: "\f125";
    $font-Flaticon-technology: "\f126";
    $font-Flaticon-thin-expand-arrows: "\f127";