/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Oct, 2016, 12:26:31 PM
    Author     : Vinoth
*/

.sl-overlay {
    background: #000;
    opacity: .7;
}
.sl-wrapper .sl-close:after {
    right: 30px;
    top: 30px;
    color: #fff;
    outline:none;
    content: "\f404";  
    font-family: "Ionicons";
    font-size:40px;
    border:none;
}
.sl-wrapper .sl-navigation button.sl-prev:after {
    left: 40px;
    content: "\f3d2";    
    font-family: "Ionicons";
    font-size:40px;
    color:#fff;
    outline:none;
}
.sl-wrapper .sl-navigation button.sl-next:before{
    right: 40px;
    content: "\f3d3";
    font-family: "Ionicons";
    font-size:40px;
    color:#fff;
    outline:none;
}

.sl-wrapper .sl-navigation button {
    position: fixed;
    top: 50%;
    margin-top: -10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    z-index: 1015;
    outline:none;
}