/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-demo .owl-item .item{
    margin:0px 15px;
}	
.owl-carousel .owl-item{
	float: left;        
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*.owl-controls .owl-page, .owl-controls .owl-buttons div.owl-prev{
    width: 118px;
    height: 262px;
    float:left;
    cursor: pointer;
    position: absolute;
    top: 15px;
    bottom: 0;
    background:url(../../images/carousel-slider-left-arrow-bg.png); 
    margin-left: 15px;
    background-repeat:no-repeat;
    background-size:cover;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div.owl-next{
    width: 118px;
    height: 262px;
    float:right;
    cursor: pointer;
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 3px;
    background:url(../../images/carousel-slider-right-arrow-bg.png);
    margin-right: 15px;
    background-repeat:no-repeat;
    background-size:cover;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div .nav-left-arrow{
    padding-top:110px;
    float: left;
    margin-left:10px;
    margin-right:10px;
    color:#fff;
    font-size:40px;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div .nav-right-arrow{
    padding-top:110px;
    float: right;
    margin-left:10px;
    margin-right:10px;
    color:#fff;
    font-size:40px;
}

#favorites-playlists-tracks .owl-controls .owl-page, .owl-controls .owl-buttons div.owl-next{
    position: absolute;
    background:transparent;
}
#favorites-playlists-tracks .owl-controls .owl-page, .owl-controls .owl-buttons div.owl-prev{
    position: absolute;
    background:transparent;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div .tracks-nav-left-arrow{
    padding-top:10px;
    float: left;
    margin-left:10px;
    margin-right:10px;
    color:#000;
    font-size:40px;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div .tracks-nav-right-arrow{
    padding-top:10px;
    float: right;
    margin-left:10px;
    margin-right:10px;
    color:#000;
    font-size:40px;
}*/


.owl-controls .owl-page, .owl-controls .owl-buttons div.owl-prev{
    width: 30px;
    height: 30px;
    float:left;
    line-height:30px;
    cursor: pointer;
    position: absolute;
    top:-50px;
    right:50px;
    padding:0px 10px;
    color:#c8c8c8;
    background:#fff;
    font-size:18px;
    border:solid 1px #ebebeb;
    border-radius:50%;
    text-align:center;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div.owl-prev:hover{
    color:#000;
    background:#ebebeb;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div.owl-next{
    width: 30px;
    height: 30px;
    line-height:30px;
    float:right;
    cursor: pointer;
    position: absolute;
    top: -50px;
    right: 15px;
    padding:0px 10px;
    border-radius:50%;
    color:#c8c8c8;
    background:#fff;
    font-size:18px;
    border:solid 1px #ebebeb;
    text-align:center;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div.owl-next:hover{
    color:#000;
    background:#ebebeb;
}