/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}
.md-perspective body  {
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}
.container {
	min-height: 100%;
}
.model-inner-content{
    width:100%;
    padding:0 40px;
}
.modal-inputs{
    width: 100%;
    height: 54px;
    font-size: 16px;
    background:transparent;
    text-indent: 10px;
    border-radius:30px;
    color:#000;
    font-weight:300;
    border:solid 1px #dedede;
}
.modal-inputs:focus {
    outline-color: #000;
}
.form-control:focus{
    outline-color: #000;
}
.modal-inputs::-webkit-input-placeholder { /* WebKit browsers */
    color:#ababab;
}
.modal-inputs:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ababab;
}
.modal-inputs::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ababab;
}
.modal-inputs:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#ababab;
}
.modal-btn-set{
    width:100%;
    float: left;
    border-top:solid 1px #ececec;
    padding-top: 20px;
}
.modal-cancel-btn{
    width: auto;
    padding: 6px 20px;
    background: #fff;
    border-radius: 60px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    outline: 0;
    border: none;
    vertical-align: middle;
    border: solid 1px #dedede;
    margin-top: 40px;
    
}
.modal-cancel-btn.hvr-rectangle-out {
    margin-right:10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.modal-cancel-btn.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dedede;
    border-radius: 30px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.modal-cancel-btn.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: black;
  border:solid 1px #dedede;
}
.modal-cancel-btn.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}


.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 500px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.md-video-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 1024px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
    color: #000;
    background: #fff;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 1.4em;
	font-weight: 400;
	background:#ececec;
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 0px 15px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

/* Individual modal styles with animations/transitions */



/* Effect 16:  Blur */
.md-show.modal-effect ~ .md-overlay {
	background: rgba(0,0,0,0.8);
}

.md-show.modal-effect ~ .container {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
}

.modal-effect .md-content {
	-webkit-transform: translateY(-5%);
	-moz-transform: translateY(-5%);
	-ms-transform: translateY(-5%);
	transform: translateY(-5%);
	opacity: 0;
}

.md-show.modal-effect ~ .container,
.modal-effect .md-content {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.modal-effect .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}


.md-content .md-close.share-close-icon{
    width:30px;
    height:30px;
    position:absolute;
    color:#707070;
    font-size:30px;
    top:10px;
    right:10px;
    outline:none;
    border:none;
    background:transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.md-content .md-close.share-close-icon:hover{
    color:#000;
}

.md-video-modal .md-close.video-close-icon{
    width:40px;
    height:40px;
    position:absolute;
    color:#b4b4b4;
    font-size:40px;
    top:-60px;
    right:-60px;
    outline:none;
    border:none;
    background:transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.md-video-modal .md-close.video-close-icon:hover{
    color:#fff;
}

@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}