/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Oct, 2016, 3:22:29 PM
    Author     : vinoth
*/
.jp-audio {
    width: 100%;
}
.jp-audio, .jp-audio-stream, .jp-video {
    border:none;
}
.jp-interface {
    position: relative;
    background:none;
    width: 100%;
}
.jp-audio .jp-interface {
    height: 90px;
}
.jp-audio .jp-controls {
    width: 100%;
    padding: 20px 20px 0 20px;
}
.jp-audio .jp-type-playlist .jp-progress {
    left:0;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}
.jp-audio .jp-progress {
    position: absolute;
    top: 32px;
    height: 4px;
}
.jp-audio .jp-controls {
    width: 230px;
    padding: 20px 20px 0 20px;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 1;
}
.jp-seek-bar {
    background: url(../image/jplayer.png) 0 -202px repeat-x;
    width: 0px;
    height: 100%;
    cursor: pointer;
}
.jp-volume-controls {
    position: absolute;
    top: 40px;
    left:auto;
    width: 200px;
    right: 0;
    z-index: 10;
}
.jp-audio .jp-time-holder {
    position: absolute;
    top: 6px;
}
.jp-audio .jp-type-playlist .jp-time-holder {
    left: 0;
    width: 100%;
}
.jp-audio .jp-type-playlist .jp-time-holder {
    left:0;
    width: 100%;
    padding: 0 10px;
    color:#fff;
}
.jp-audio .jp-type-playlist .jp-toggles-set {
    width:321px;
    margin:auto;   
}
.jp-audio .jp-type-playlist .jp-toggles {
    width: 100%;
    left: auto;
    top: 38px;
    z-index: 0;
    margin: auto;
    position: absolute;
}
.jp-toggles button {
    display: block;
    float: left;
    width: 25px;
    height: 18px;
    text-indent: -9999px;
    line-height: 100%;
    border: none;
    cursor: pointer;
    left: auto;
}
.jp-play {
    width: 53px;
    height: 53px;
}
.jp-play {
    background: url("../image/jplayer.png") 0 0 no-repeat;
   -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;  
}

.jp-play:focus {
    background: url("../image/jplayer.png") -53px 0 no-repeat; 
}

.jp-state-playing .jp-play {
    background: url("../image/jplayer.png") 0 -53px no-repeat;
}

.jp-state-playing .jp-play:focus {
    background: url("../image/jplayer.png") -53px -53px no-repeat; }

.jp-stop, .jp-previous, .jp-next {
    width: 28px;
    height: 28px;
    margin-top: 14px;
    margin-left:20px;
    margin-right:20px;
}

.jp-previous {
    background: url("../image/jplayer.png") 0 -112px no-repeat; 
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.jp-previous:focus {
    background: url("../image/jplayer.png") -29px -112px no-repeat; }


.jp-next {
    background: url("../image/jplayer.png") 0 -141px no-repeat; 
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.jp-next:focus {
    background: url("../image/jplayer.png") -29px -141px no-repeat; 
}


.jp-seek-bar {
    background: url("../image/jplayer.png") 0 -202px repeat-x;
    width: 0px;
    height: 100%;
    cursor: pointer; }

.jp-play-bar {
    background: url("../image/jplayer.png") 0 -218px repeat-x;
    width: 0px;
    height: 100%; 
}

.jp-mute {
    background: url("../image/jplayer.png") 0 -170px no-repeat; }

.jp-mute:focus {
    background: url("../image/jplayer.png") -19px -170px no-repeat; }

.jp-state-muted .jp-mute {
    background: url("../image/jplayer.png") -60px -170px no-repeat; }

.jp-state-muted .jp-mute:focus {
    background: url("../image/jplayer.png") -79px -170px no-repeat; }

.jp-volume-max {
    background: url("../image/jplayer.png") 0 -186px no-repeat; }

.jp-volume-max:focus {
    background: url("../image/jplayer.png") -19px -186px no-repeat; }

.jp-volume-bar {
    position: absolute;
    overflow: visible;
    background: url("../image/jplayer.png") 0 -250px repeat-x;
    top: 6px;
    left: 22px;
    width: 100px;
    height: 3px;
    cursor: pointer; 
}
.jp-volume-max {
    left: 132px;
}
.jp-volume-bar-value {
    background: url("../image/jplayer.png") 0 -256px repeat-x;
    width: 0px;
    height: 3px; 
}
/*.jp-volume-bar-value:after{
    width:10px;
    height:10px;
    background:#da0c52;
    border-radius:50%;
    content:'';
    float: right;
    position: relative;
    margin-top: -4px;
    right: -10px;
}*/
.jp-repeat {    
    background: url("../image/jplayer.png") 0 -290px no-repeat;  
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.jp-repeat:focus {
    background: url("../image/jplayer.png") -30px -290px no-repeat; 
}
.jp-state-looped .jp-repeat {
    background: url("../image/jplayer.png") -60px -290px no-repeat; 
}
.jp-state-looped .jp-repeat:focus {
    background: url("../image/jplayer.png") -90px -290px no-repeat; 
}

.jp-shuffle {
    background: url("../image/jplayer.png") 0 -271px no-repeat;
    position: absolute;
    right: 0;  
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.jp-shuffle:focus {
    background: url("../image/jplayer.png") -30px -270px no-repeat; 

}
.jp-state-shuffled .jp-shuffle {
    background: url("../image/jplayer.png") -60px -270px no-repeat;

}
.jp-state-shuffled .jp-shuffle:focus {
    background: url("../image/jplayer.png") -90px -270px no-repeat;
}

.jp-details, .jp-playlist {
    width: 350px;
    background-color: #fff;
    border-top:none;
    position: fixed;
    box-shadow:0 0 40px rgba(0,0,0,0.2);
    bottom: 90px;   
}
.jp-playlist ul {
    padding: 0;
}


.jp-video-270p {
    width: 100%;
}
.jp-video .jp-interface {
    border-top: none;
    background:rgba(0,0,0,0.5);
    position:absolute;
    bottom:0;
}
.jp-controls-holder {
    clear: both;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    top: -8px;
}
.jp-video .jp-progress {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
}
.jp-video .jp-type-playlist .jp-controls {
    width: 53px;
    margin-left:auto;
    margin: auto;
}
.jp-video .jp-controls {
    float: inherit;
}
.jp-video .jp-volume-controls {
    top: 18px;
    left: 50px;
}
.jp-video .jp-toggles {
    float:right;
    position: initial;
    right: 20px;
    margin-top: -37px;
    width: 80px;
    margin-right:15px;
}
.jp-full-screen {
    background: url(../image/jplayer.png) 0 -310px no-repeat;
    margin-left: 38px;
    position: absolute;
    float: right;
}
.jp-full-screen {
    background: url(../image/jplayer.png) 0 -310px no-repeat;
    margin-left: 20px; 
}

.jp-full-screen:focus {
    background: url(../image/jplayer.png) -30px -310px no-repeat; 
}

.jp-state-full-screen .jp-full-screen {
    background: url(../image/jplayer.png) -60px -310px no-repeat; 
}

.jp-state-full-screen .jp-full-screen:focus {
    background: url(../image/jplayer.png) -90px -310px no-repeat; 
}
.jp-video .jp-duration {
    margin-right: 20px;
    color:#fff;
}
.jp-video .jp-current-time {
    margin-left: 20px;
    color:#fff;
}
.jp-video .jp-type-playlist .jp-jplayer img {
    vertical-align: middle;
    opacity: 0.8;
}
.jp-video .jp-video-play {
    overflow: visible;
}
.jp-video .jp-video-play .jp-video-play-icon {
    top: -20%;
}

@media (min-width:768px) and (max-width: 990px){  
    .jp-audio .jp-type-playlist .jp-toggles-set {
        width: 270px;
        margin: auto;
    }    
    .jp-volume-controls {
        width: 140px;
    }
    .jp-volume-max {
        left: 86px;
    }
    .jp-volume-bar {
        width: 60px;
        left: 19px;
    }
}